.Nav__Header-bar {
  background-color: white;
}

/* .Nav__Header-bar_body {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "app-logo app-name profile-icon-section";
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  height: 60px;
} */

.Nav__Header-bar_body {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
}

.app-title {
  font-family: var(--main-font);
  font-size: 25px;
  font-weight: bold;
  margin: unset;
}

.profile-name {
  font-family: "Open Sans", "sans-serif";
  font-size: 16px;
  color: var(--light-grey);
  grid-area: profile-name;
}

.Nav__Header-bar__Zen-logo-section {
  grid-area: app-logo;
}

.Nav__Header-bar__Apple-title-section {
  grid-area: app-name;
  align-items: center;
}

.Nav__Header-bar__Profile-section {
  grid-area: profile-icon-section;
  display: grid;
  grid-template-columns: 50px 32px;
  grid-template-areas: "profile-name avatar";
  justify-content: right;
}

.Nav__Header-bar__profile-icon-image {
  grid-area: avatar;
}

.profile-name {
  margin: unset;
  align-self: center;
}



@media only screen and (min-width: 2030px) {
  .Nav__Header-bar_body {
    margin-right: 15%;
  }
}

@media only screen and (min-width: 2050px) {
  .Nav__Header-bar_body {
    margin-right: 15%;
  }
}

@media only screen and (min-width: 2150px) {
  .Nav__Header-bar_body {
    margin-right: 17%;
  }
}

@media only screen and (min-width: 2500px) {
  .Nav__Header-bar_body {
    margin-right: 20%;
  }
}
