.NotificationItemsPanel__main {
  background-color: white;
  box-shadow: 2px 2px darkgray;
}

.NotificationItemsPanel__main {
  position: absolute;
  border-radius: 8px;
  right: 0vw;
}

.PanelItem {
  padding: 10px;
}

.slight-left-margin {
  margin-left: 10px;
}

.NotificationItemsPanel__main__header__text {
  font-weight: bolder;
  font-size: 30px;
}

.Notification__UnredDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(  --green-500);
  align-self: center;
  margin-left: 5px;
}

.vertical-align {
  align-self: center;
}

.NotificationModule__Main__count{
  align-self: center;
  margin-left: 5px;
}
