.Suggest-course__Main-body {
  height: auto;
  background-color: white;
}

.Suggest-course__Main-header-top-enclosure {
  display: flex;
  justify-content: flex-end;
}

.Suggest-course__windowClose:hover {
  cursor: pointer;
}

.Suggest-course__Window-title-Text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.05em;
  color: var(--charcoal);
}

.section-header-text {
  font-family: var(--main-font);
  font-weight: 600;
  line-height: 30px;
}

.top-margin-buffer {
  margin-top: 5%;
}

.line-separator {
  border-bottom: 1px solid var(--light-grey-2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.double-height-input-box-130px {
  height: 100px;
}

.single-height-input-box-50px {
  height: 50px;
}

.top-left-padding {
  padding-top: 18px;
  padding-left: 18px;
}

.left-padding-single-input {
  padding-left: 18px;
}

.Add-take-away-footer {
  display: flex;
  flex-direction: column;
}

.right-margin {
  margin-right: 10%;
}

.align-text-center {
  text-align: center;
}

.Suggest-course__SubmissionErrors-enclosure {
  display: flex;
}
