.Course-card__category-header {
  border-left-width: 4px;
  border-left-style: solid;
  max-width: 100px;
  font-family: var(--main-font);
  padding: 5px;
}

.Course-card__inner-body {
  border: 1px solid black;
  padding: 30px;
}

.Generic-Profile-Icon {
  grid-area: generic-circle-icon;
}

.Course-card__course-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.Course-card__recommendation-section {
  display: grid;
  grid-template-columns: 32px auto;
  grid-template-areas: "generic-circle-icon recommended-text";
}

.Recommended-by {
  grid-area: recommended-text;
  font-family: var(--main-font);
  font-weight: lighter;
  margin-left: 5px;
  align-self: center;
}

.Course-card__synopsis-section {
  font-family: var(--main-font);
}

.Course-card__tags-section {
  display: flex;
  width: 50%;
}
.external-link-icon {
  margin-left: 10px;
}

.Course-card__external-link {
  text-decoration: none;
  color: black;
}
