.Profile-view__Main__container{
  width:auto;
  height: auto;
  background-color: white;
}

.Profile-view__Body {
  margin: 5%;
}

.Modal-close-header {
  display: flex;
  justify-content: flex-end;
}

.Profile_view__interests-footer{
  padding-bottom: 5%;
}

.Profile-view__Main-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.RecommendationSummaryStrip__main {
  display: flex;
  justify-content: space-between;
}

.CourseTableRow > td {
  padding-right: 20px;
  width: 100%;
}


.CourseSummaryListModal__main {
  background-color: white;
}

.scroll-limit {
  max-height: 200px;
  overflow-y: scroll;
}

.CourseSummaryListModal__header {
  margin-bottom: 2%;
}
