.Profile-icon-change-button {
  position: relative;
  top: -33px;
  right: -89px;
}

.large-monteserrat-bold-font {
  font-style: normal;
  font-weight: bold;
  line-height: 63px;
  letter-spacing: -0.05em;
}

.large-monteserrat-medium-font {
  font-style: normal;
  font-weight: medium;
  font-size: 52px;
  line-height: 63px;
  letter-spacing: -0.05em;
}

.title-text-vertically-centered {
  align-self: center;
}

.Interests-section__Main-body {
  margin-top: 5%;
}


.Profile-edit-icon:hover {
  cursor: pointer;
}

.Profile-page__Welcome-message-enclosure {
  margin-left: 2%;
}
