body {
  background-color: var(--page-ambient-color);
}

.Middle-section__header-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-grey);
  width: 232px;
  height: 44px;
}

.Home-page__footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.add-course-button-size {
  width: 199px;
  height: 54px;
  padding: 0px;
  text-align: center;
}

.recommend-course-button-size {
  height: 10px;
}

.recommend-course-button-size:hover {
  cursor:pointer;
  background-color: #2a8d85;
}

.Home-Page__center-column {
  width: 800px;
  max-height: 80vh;
  overflow-y: scroll;
}

.left-margin {
  margin-left: 5%;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 967px) {
  .Home-Page__center-column {
    width: auto;
  }

  .Side-browser__Main {
    height: auto;
    width: 100%;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .side-browser-overlay {
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 10px 2px #d9d9d9;
    display: flex;
    flex-wrap: wrap;
  }

  .Side-browser-menu-option-label {
    font-size: 12px;
  }

  .Home-Page__center-column {
    max-height: 70vh;
  }
}
@media only screen and (min-width: 2500px) {
  .Middle-section__header-text {
    margin-right: 70px;
  }
}

.Home-Page__Spinner-Overlay {
  position: absolute;
  width: 100vw;
  opacity: .5;
  background-color: silver;
  height: 1000vh;
}
