body {
  background-color: var(--page-ambient-color);
}

.Middle-section__header-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-grey);
  width: 232px;
  height: 44px;
}

.Home-page__footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.add-course-button-size {
  width: 199px;
  height: 54px;
  padding: 0px;
  text-align: center;
}

.recommend-course-button-size {
  height: 10px;
}

.recommend-course-button-size:hover {
  cursor:pointer;
  background-color: #2a8d85;
}

.Home-Page__middle-section__header {
  display: flex;
  justify-content: flex-end;
}

.Home-Page__middle-section {
  display: flex;
  justify-content: space-between;
}

.Home-Page__center-column {
  width: 800px;
  margin-left: 5%;
}

.Home-Page__main-body {
  margin-left: 15%;
  margin-right: 15%;
}

.left-margin {
  margin-left: 5%;
}

@media only screen and (min-width: 2500px) {
  .Middle-section__header-text {
    margin-right: 70px;
  }
}
