.flex-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.small-heart-icon {
  width: 20px;
  height: 20px;
}

.small-heart-icon {
  color: red;
}

.HeartContainerImage_main:hover {
  cursor: pointer;
}

.likes-text-spacing {
  margin-left: 0.4rem;
}
