/* Recommend a course */
.Action-button__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 5px;
}

.Action-button__main {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.Action-button__color__green {
  background-color: var(--lime-green-0);
  color: white;
  border: unset;
}

.Action-button__color__plain {
  background-color: white;
  color: var(--light-grey);
  border: 1px solid var(--light-grey);
}

.center-buttons {
  align-self: center;
}

.Action-button__main:hover {
  cursor: pointer;
}

.Action-button__slim {
  padding: unset;
  padding-left: 17px;
}

.Action-button__plus-arrow {
  color: black;
}

.dark-grey-background-color {
  background-color: var(--light-grey);
  color: white;
}
