@keyframes spin {
  from {
    transform: rotateY(0deg)
  }

  to {
    transform: rotateY(180deg)
  }
}

.Spinner__Main {
  display: flex;
  justify-content: center;
}

.Spinner__Body {
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: spin;
}
