:root {
  --middle-green: #4b7f52ff;
  --mantis: #7dd181ff;
  --magic-mint: #96e8bcff;
  --magic-mint-2: #b6f9c9ff;
  --aero-blue: #c9ffe2ff;
  --white: #ffffff;
  --main-font: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  --main-font-color: #000000;
}
