:root {
  --middle-green: #4b7f52ff;
  --mantis: #7dd181ff;
  --magic-mint: #96e8bcff;
  --magic-mint-2: #b6f9c9ff;
  --aero-blue: #c9ffe2ff;
  --white: #ffffff;
  --main-font: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  --main-font-color: #000000;
  --light-grey: #7D7D7D;
  --light-grey-2: #D9D9D9;
  --page-ambient-color: #F8FBF9;
  --charcoal: #2E3841;

  --pale-blue: #E2F2FF;
  --pale-light-green-color: #E9FBF4;
  --blush-color: #FFEEF6;
  --pale-yellow-color: #FDF6DF;
  --lime-green-0: #2ECC71;
  --pale-lime-green: #E3FFD9;

  --blue-color-6: #74B9FF;
  --red-color-6: #FF7675;
  --green-color-6: #00CEC9;
  --error-color: #D63031;
  --modal-radius: 6px;
  --green-500: #2A8D85;
  --star-fill: #FDCB6E;
}

h1, h2, h3, h4, h5, h5 {
  margin: 0px;
}

.course-category-color-green {
  background-color: var( --pale-light-green-color);
  border-left-color: var(--green-500);
}

.course-category-color-rose {
  background-color: var(--blush-color);
  border-left-color: #E84393
}

.course-category-color-yellow {
  background-color: var(--pale-yellow-color);
  border-left-color: #FDCB6E;
}

.bkg-green {
  background-color: var(--lime-green-0);
  color: white;
}
.course-category-color-blue {
  background-color: var(--pale-blue);
  border-left-color: #0984E3;
}

.menu-separator {
  border-bottom: 1px solid var(--light-grey-2);
}

.generic-profile-icon-color-red {
  background-color: var(--red-color-6);
}

.generic-profile-icon-color-blue {
  background-color: var(--blue-color-6);
}

.generic-profile-icon-color-green {
  background-color: var(--green-color-6);
}

.cursor-pointer:hover {
  cursor: pointer;
}

.pale-blue {
  background-color: var(--pale-blue);
}

.pale-grey {
  background-color: var(--light-grey-2);
}
.Page-Modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0px;
  top: 0px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.text-button-disabled {
  color: lightgray
}
.fixed-position {
  position: fixed;
}
.open-sans-font-family {
  font-family: Open Sans;
}

.mont-font {
  font-family: Montserrat;
}

.main-font {
  font-family: var(--main-font);
}
.bold {
  font-weight: bold;
}

.pointer:hover {
  cursor: pointer;
}

.align-center {
  align-self: center;
}

.align-text-center, .center-text, .center, .text-center { 
  text-align: center;
}
.font-size-20px {
  font-size: 20px;
}

.font-size-10px {
  font-size: 10px;
}

.font-size-12px {
  font-size: 12px;
}

.display-flex {
  display: flex;
}  
.flex-wrap {
  flex-wrap: wrap;
}

.left-margin-buffer-10px {
  margin-left: 10px;
}

.color-red {
  color: var(--error-color)
}

.error-text {
  font-family: Montserrat;
  color: var(--error-color);
}

.color-light-grey {
  color: var(--light-grey);
}
.charcoal {
  color: var(--charcoal);
}

.no-text-decoration {
  text-decoration: none;
}

.font-size-25px {
  font-size: 25px;
}

.no-body-scroll {
  overflow-y: hidden;
}

.padding-right-5px {
  padding-right: 5px;
}

.padding-left-5px {
  padding-left: 5px;
}
.full-padding-5px {
  padding: 5px;
}

.window-padding-1p {
  padding: 1%;
}

.flex-control-box-right {
  display: flex;
  justify-content: right;
}

.max-text-width {
  width: 98%;
}

.text-padding {
  padding: 1%;
}

.middle-column {
  margin-left: 20%;
  margin-right: 20%;
}

.hidden {
  display: none;
}

.Profile-page__Welcome_header {
  display: block;
}

.large-font-size {
  font-size: 30px;
}

.responsive-link-text {
  font-size: 12px;
}

.Content-tag__main {
  padding: 5px 5px;
}

.CourseTableRow {
  font-size: 12px;
}

.CourseSummarListModal-margin {
  padding: 2%;
  margin-top: 2%;
}

.flex-control-box-right {
  margin-bottom: 5%;
}

.Profile-view__Main__Window {
  margin-top: 10%;
}
.Home-Page__middle-section {
  display: flex;
  flex-direction: column;
}

.Home-Page__center-column {
  order: 1;
}

.Home-Page__middle-section__header {
  margin-top: 2%;
  margin-bottom: 2%;
}

.Middle-section__header-text {
  display: none;
}

.Suggest-course__margin-body .Styled-input-box__input {
  width: 100%;
}

.Suggest-course__Window-title-Text {
  font-size: 35px;
}

.section-header-text {
  font-size: 20px;
}

.global-text-font-size {
  font-size: 14px;
}

.Suggest-course__Main-body {
  padding: 5%;
}

.star-tag {
  width: 35px;
}

#CourseCategories {
  width: 102%;
}

.TagApplet__input-enclosure {
  display: flex;
}

.TagApplet__Action-button__Main {
  margin-left: 5%;
}

.align-base-end {
  align-self: end;
}

.Body-header__header {
  font-size: 40px;
}

.CourseTakeAway__Main-body {
  justify-content: space-between;
}

.Row-dot {
  align-self: center;
}
.Profile-view__Body {
  margin: unset;
}

.middle-column {
  margin-left: unset;
  margin-right: unset;
}

.Search-Page__container .large-monteserrat-bold-font {
  font-size: 20px;
}

.Home-Page__Spinner-Overlay {
  position: absolute;
  width: 100vw;
  opacity: .5;
  background-color: silver;
  height: 1000vh;
}

.Search-Page__container .Course-Container {
  margin-left: unset;
  margin-right: unset;
}

.left-padding-5px {
  padding-left: 5px;
}

.Detailed-Course-View__Main-body {
  margin: unset;
}

.side-browser-overlay {
  position: absolute;
  background-color: white;
  box-shadow: 2px 2px 10px 2px #d9d9d9;
  display: block;
  flex-wrap: wrap;
  width: 100%;
  left: 0px;
}

@media only screen and (max-width: 1676px) {
  .Profile-page__Welcome-message-enclosure__mobile {
    display: block;
    margin-left: 24px;
    align-self: center;
    font-weight: normal;
  }
  .large-font-size {
    font-size: 40px;
  }
}

@media only screen and (min-width: 769px) {
  .ContextMenu__root__main-body {
    left: 80vw;
  }
  .large-font-size {
    font-size: 70px;
  }

  .Profile-page__Welcome_header {
    display: flex;
    flex-wrap: wrap;
  }

  .responsive-link-text {
    font-size: 18px;
  }

  .CourseSummarListModal-margin {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    padding: 1%;
    border-radius: 2px;
  }
  .CourseTableRow {
    font-size: 16px;
  }
  .flex-control-box-right {
    margin-bottom: unset;
  }

  .Profile-view__Main__Window {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
  }

  .Home-Page__middle-section {
    justify-content: start;
    flex-direction: row;
  }
  .Home-Page__center-column {
    order: 0;
  }

  .Home-Page__middle-section__header {
    margin-left: 5%;
  }

  .Middle-section__header-text {
    display: block;
  }
  .Suggest-course__Window-title-Text {
    font-size: 65px;
  }

  .section-header-text {
    font-size: 32px;
  }
  .global-text-font-size {
    font-size: 20px;
  }

  .desktop-flex-positioning {
    display: flex;
  }
  .Suggest-course__body-main-enclosure {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
  }
  .Suggest-course__Main-body {
    padding: 1%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .Suggest-course__text-input-responsive_spacing {
    padding-right: 2%;
  }

  .full-space {
    width: 38vw;
  }

  .url-text-full-space {
    width: 22vw;
  }
  .Suggest-course-description-responsive {
    width: 38vw;
  }
  .star-rating-left-margin {
    margin-left: 2vw;
  }

  .title-margin-spacing {
    margin-bottom: 1%;
  }
  #CourseCategories {
    width: 38vw;
  }

  .TagApplet__Action-button__Main {
    margin-left: 2%;
  }

  .Suggest-course__Modal-Controls__footer-main {
    display: flex;
    justify-content: end;
  }

  .Body-header__header {
    font-size: 70px;
  }
  .strip-row-responsive-width .Styled-input-box__input {
    width: 22vw;
    height: 30px;
  }

  .Profile-view__Body {
    margin: 5%;
  }
  .Search-Page__container .large-monteserrat-bold-font {
    font-size: 40px;
  }

  .Search-Page__container .Course-card__main {
    margin-left: 20%;
    margin-right: 20%;
  }

  .Search-Page__container .Search-Page__search-section {
    margin-left: 20%;
    margin-right: 20%;
  }

  .Add-interests-modal__Main-window-body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }

  .Profile-page__Main-body {
    margin-left: 20%;
    margin-right: 20%;
  }

  .Detailed-Course-View__Main-body {
    margin: 5%;
  }
  .Side-browser-menu-option-label {
    word-wrap:break-word;
    font-size: 16px;
    font-weight: normal;
    padding: 15px;
  }

  .side-browser-overlay {
    position: unset;
    background-color: white;
    box-shadow: unset;
    display: block;
    width: 100%;
  }
}
