:root {
  --middle-green: #4b7f52ff;
  --mantis: #7dd181ff;
  --magic-mint: #96e8bcff;
  --magic-mint-2: #b6f9c9ff;
  --aero-blue: #c9ffe2ff;
  --white: #ffffff;
  --main-font: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  --main-font-color: #000000;
  --light-grey: #7D7D7D;
  --light-grey-2: #D9D9D9;
  --page-ambient-color: #F8FBF9;

  --pale-blue: #E2F2FF;
  --pale-light-green-color: #E9FBF4;
  --blush-color: #FFEEF6;
  --pale-yellow-color: #FDF6DF;
  --lime-green-0: #2ECC71;

  --blue-color-6: #74B9FF;
  --red-color-6: #FF7675;
  --green-color-6: #00CEC9;
  --error-color: #D63031;
}

h1, h2, h3, h4, h5, h5 {
  margin: 0px;
}

.course-category-color-green {
  background-color: var( --pale-light-green-color);
  border-left-color: #2A8D85;
}

.course-category-color-rose {
  background-color: var(--blush-color);
  border-left-color: #E84393
}

.course-category-color-yellow {
  background-color: var(--pale-yellow-color);
  border-left-color: #FDCB6E;
}

.course-category-color-blue {
  background-color: var(--pale-blue);
  border-left-color: #0984E3;
}

.menu-separator {
  border-bottom: 1px solid var(--light-grey-2);
}

.generic-profile-icon-color-red {
  background-color: var(--red-color-6);
}

.generic-profile-icon-color-blue {
  background-color: var(--blue-color-6);
}

.generic-profile-icon-color-green {
  background-color: var(--green-color-6);
}

.cursor-pointer:hover {
  cursor: pointer;
}

.Page-Modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0px;
  top: 0px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
